<!doctype html>
<html lang='zh'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>股票交易計算機</title>
    <link rel="stylesheet" href="./scss/bootstrap.css">
    <link rel='preconnect' href='https://fonts.gstatic.com'>
    <link href='https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap' rel='stylesheet'>
    <link rel="icon" href="./icon.jpg">


</head>

<body>
    <div id="container">

        <div class="bg-dark d-flex justify-content-between p-3">
            <h2 class="text-white fs-2">股票交易計算機</h2>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                設定
            </button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content mt-5">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="twist" class="form-label">手續費</label>
                        <select class="form-select" v-model="self" id="twist">
                            <option value="0.55">五五折</option>
                            <option value="0.6">六折</option>
                            <option value="0.65">六五折</option>
                        </select>

                        <label for="stock" class="form-label mt-4">證交稅</label>
                        <select name="stock" id="stock" class="form-select" v-model="stock">
                            <option value="0.001">千分之一</option>
                            <option value="0.0015">千分之一點五</option>
                            <option value="0.003">千分之三</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <ul class="px-2">
                            <li>股票手續費為0.001425</li>
                            <li>証交稅為0.003</li>
                            <li>預設手續費折數為六折</li>
                            <li>計算機結果僅供參考,使用者一切盈虧與作者無關!!!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 mt-1">
                    <label for="buy" class="form-label">買入價格</label>
                    <input type="number" name="buy" id="buy" class="form-control" v-model.num="buy">
                </div>
                <div class="col-sm-12 col-md-4 mt-1">
                    <label for="sell" class="form-label">賣出價格</label>
                    <input type="number" name="sell" id="sell" class="form-control" v-model.num="sell">
                </div>
                <div class="col-sm-12 col-md-4 mt-1">
                    <label for="amount" class="form-label">交易股數</label>
                    <input type="number" name="amount" id="amount" class="form-control" v-model.num="amount">
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row  mt-3">
                <div class="col-12">
                    <table class="table rounded">
                        <thead>
                            <tr class="table-dark text-light fs-3">
                                <td>成交價格</td>
                                <td>損益金額</td>
                                <td>報酬率</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in comArray" :key="item">

                                <td>{{item}}</td>
                                
                                <!-- 購買手續大於20,並且售出手續費大於20-->
                                <td v-if="(buy*amount*0.001425*self>20)&&(item*amount*0.001425*self>20)">
                                    {{Math.floor((item*amount)-(buy*amount)-(item*amount*0.001425*self)-(buy*amount*0.001425*self)-(item*amount*stock))}}</td>
                                <!-- 購買手續大於20,並且售出手續費小於20-->
                                <td v-else-if="(buy*amount*0.001425*self>20)&&(item*amount*0.001425*self<20)">
                                    {{Math.floor((item*amount)-(buy*amount)-20-(buy*amount*0.001425*self)-(item*amount*stock))}}</td>
                                <!-- 購買手續小於20,並且售出手續費大於20-->
                                <td v-else-if="(buy*amount*0.001425*self<20)&&((item*amount*0.001425*self)>20)">
                                    {{Math.floor((item*amount)-(buy*amount)-(item*amount*0.001425*self)-20-(item*amount*stock))}}</td>
                                <!-- 購買手續小於20,並且售出手續費小於20-->
                                <td v-else>
                                    {{Math.floor((item*amount)-(buy*amount)-20-20-(item*amount*stock))}}
                                </td>

                                
                                <!-- 購買手續大於20,並且售出手續費大於20-->
                                <td v-if="(buy*amount*0.001425*self>20)&&(item*amount*0.001425*self>20)">
                                    {{Math.round(((item*amount)-(buy*amount)-(item*amount*0.001425*self)-(buy*amount*0.001425*self)-(item*amount*stock))/(buy*amount+(buy*amount*0.001425*self)+(item*amount*0.001425*self)+item*amount*stock)*10000)/100+'%'}}</td>
                                <!-- 購買手續大於20,並且售出手續費小於20-->
                                <td v-else-if="(buy*amount*0.001425*self>20)&&(item*amount*0.001425*self<20)">
                                    {{Math.round(((item*amount)-(buy*amount)-20-(buy*amount*0.001425*self)-(item*amount*stock))/(buy*amount+(buy*amount*0.001425*self)+20+item*amount*stock)*10000)/100+'%'}}</td>
                                <!-- 購買手續小於20,並且售出手續費大於20-->
                                <td v-else-if="(buy*amount*0.001425*self>20)&&(item*amount*0.001425*self<20)">
                                    {{Math.round(((item*amount)-(buy*amount)-20-(buy*amount*0.001425*self)-(item*amount*stock))/(buy*amount+(item*amount*0.001425*self)+20+item*amount*stock)*10000)/100+'%'}}</td>
                                <!-- 購買手續小於20,並且售出手續費小於20-->
                                <td v-else>
                                    {{Math.round(((item*amount)-(buy*amount)-20-(buy*amount*0.001425*self)-(item*amount*stock))/(buy*amount+20+20+item*amount*stock)*10000)/100+'%'}}</td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="./bootstrap.min.js"></script>
    <script src="./popper.min.js"></script>
    <script src="./vue.global.js"></script>
    <script src="./vue.js"></script>
</body>

</html>